@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	overflow-x: hidden;
	animation: overflow 8s linear forwards;
}
.banner {
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}
header .logo {
	position: relative;
	color: #004e7c;
	display: inline-block;
	font-size: 2em;
	text-decoration: none;
	font-weight: 800;
	opacity: 0;
	animation: slide_left 0.5s linear forwards;
	animation-delay: 0.2s;
}
header ul {
	position: relative;
	display: flex;
}
header ul li {
	list-style: none;
}
header ul li a {
	display: inline-block;
	color: #004e7c;
	font-weight: 600;
	font-size: 1.1em;
	margin-left: 10px;
	padding: 8px 18px;
	text-decoration: none;
	user-select: none;
	opacity: 0;
	animation: slide_top 0.5s linear forwards;
	animation-delay: calc(0.2s * var(--i));
}
header ul li a.active,
header ul li a:hover {
	background-color: #b73225;
	color: #fff;
	border-radius: 30px;
}
.content {
	position: relative;
	display: flex;
}
.content .textBox {
	max-width: 550px;
}
.content .textBox h2 {
	color: #004e7c;
	font-size: 3.5em;
	margin-bottom: 10px;
	line-height: 1.2em;
	font-weight: 700;
	opacity: 0;
	animation: slide_right 0.5s linear forwards;
	animation-delay: 1.2s;
}
.content .textBox p {
	font-size: 1.2em;
	color: #5c5f58;
	opacity: 0;
	animation: slide_left 0.5s linear forwards;
	animation-delay: 1.6s;
}
.content .textBox a {
	display: inline-block;
	margin-top: 20px;
	padding: 15px 30px;
	background-color: #b73225;
	color: #fff;
	font-size: 1.2em;
	border-radius: 40px;
	font-weight: 700;
	letter-spacing: 1px;
	text-decoration: none;
	opacity: 0;
	animation: slide_top 0.5s linear forwards;
	animation-delay: 2s;
}
.sci {
	position: absolute;
	bottom: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sci li {
	list-style: none;
}
.sci li a {
	position: relative;
	display: inline-block;
	margin-right: 20px;
	font-size: 3.6em;
	color: #004e7c;
	transition: 0.2s ease-in-out;
	opacity: 0;
	animation: slide_right 0.5s linear forwards;
	animation-delay: calc(0.2s * var(--i));
}
.sci li a:hover {
	color: #b73225;
	transform: translateY(-10px) !important;
}
.his {
	background: #b73225;
}
.heading {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.heading h2 {
	color: #fff;
	z-index: 10000;
	font-size: 3em;
}
.content {
	display: flex;
	justify-content: space-between;
}
.contentBx {
	padding: 30px;
	justify-content: space-between;
	align-items: center;
}
.contentBx h3 {
	font-size: 2em;
	color: #fff;
}
.contentBx p {
	font-size: 1.4em;
	color: #000;
}
.img {
	width: 70%;
	height: 80%;
	transform: translateY(5%);
}
.heading1 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.heading1 h2 {
	margin-top: 50px;
	color: #000;
	font-size: 3em;
}
.tabela {
	display: flex;
	justify-content: center;
	align-items: center;
}
tr {
	margin-right: 10px;
}
th,
td {
	padding: 15px;
	text-align: left;
	font-size: 1.2em;
	margin-right: 30px;
	border-bottom: 1px solid #000;
}
th,
td {
	width: 350px;
}
section {
	padding: 20px;
}
.kosz {
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0;
	animation: fade_in 1s linear forwards;
	animation-delay: 3.5s;
}
@media (max-width: 1800px) {
	.img {
		transform: translateY(20%);
	}
}
@media (max-width: 1500px) {
	.img {
		width: 70%;
		height: 70%;
	}
	.kosz {
		max-width: 700px;
		right: -40px;
	}
}
@media (max-width: 1200px) {
	.kosz {
		max-width: 700px;
	}
}
@media (max-width: 991px) {
	.img {
		display: none;
	}
	section {
		padding: 150px 20px;
	}
	header {
		padding: 20px;
	}
	.navigation {
		display: none;
	}
	.navigation.active {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	header ul li {
		margin: 15px 0;
	}
	header ul li a {
		margin-left: 0px;
		font-size: 1.5em;
	}
	.toggle {
		position: fixed;
		top: 20px;
		right: 20px;
		width: 40px;
		height: 40px;
		background: #b73225 url(menu.jpg);
		background-size: 65px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		z-index: 1000;
		border-radius: 3px;
	}
	.toggle.active {
		background: #b73225 url(close.png);
		background-size: 50px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
	}
	.kosz {
		max-width: 550px;
	}
	.content .textBox h2 {
		font-size: 2.5em;
	}
	.content .textBox p {
		font-size: 1em;
	}
	.content .textBox a {
		font-size: 1em;
	}
}
@media (max-width: 629px) {
	.kosz {
		display: none;
	}
}
@media (max-width: 600px) {
	.kosz {
		opacity: 0.6;
	}
}
@keyframes slide_left {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0%);
		opacity: 1;
	}
}
@keyframes slide_top {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}
@keyframes slide_right {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0%);
		opacity: 1;
	}
}
@keyframes fade_in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes overflow {
	0% {
		overflow-y: hidden;
	}
	100% {
		overflow-y: auto;
	}
}
